NAME ="Express API"
PORT = 5000
APP_URL = "http://localhost:5000"
VERSION = /api/v1
DBURL = "mongodb://admin:password@localhost:27017/Nexora?authSource=admin"
# DBURL = "mongodb://admin:G7ppdNJtjnP14JIi@myfirstcluster.1ebj2lx.mongodb.net:27017/Nexora?authSource=admin&retryWrites=true&w=majority"

FEATURE_ADMIN_ENABLED = 0

SALT_ROUND =10

JWT_SECRET = "DjQoJCUkkSqh"


KHALTI_API_URL  = "https://dev.khalti.com/api/v2/epayment/initiate/"
KHALTI_API_KEY  = "ebf682ddd6f341928cf87141bab43a84"

CLOUDINARY_CLOUD_NAME = "dar2wu1lv"
CLOUDINARY_API_KEY = "221844341846494"
CLOUDINARY_API_SECRET = "Wtgst3sTZInc8geJALPa1XdkI9w"

EMAIL_API_KEY = "re_aQyRg28F_MTkrcr7xhHVwNvn5BGdxZDrn"